.container
{
        background-image: url('./img/b1.jpg');
        width: 100%;
       height: 20rem;
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
}
.head
{
        color: white;
}
.display-image
{
        align-items: center;
        width: 20%;
}
*{
        font-family: 'Times New Roman', Times, serif;
       }
       .book-1
       {
               background-image: url('./img/b4.jpg');
               width: 100%;
              height: 20rem;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
       }
       .book-2
       {
               background-image: url('./img/b9.jpg');
               width: 100%;
              height: 20rem;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
       }


       /* Product cart  */
       .card, .card-1, .card-2 {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
        font-family: arial;
        float: left;
        /* width: 60%; */
        /* padding: 0 20px; */
        overflow: hidden;
        padding: 10px 15px;
        margin-top: 7px;
      }
      
      .price {
        color: grey;
        font-size: 22px;
      }
      
      .btn {
        border: none;
        outline: 0;
        padding: 12px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
      }
      
      .btn:hover {
        opacity: 0.7;
      }
      .card-img
      {
              width: 100%;
      }
      input[type=text] {
        width: 130px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        /* background-image: url('searchicon.png'); */
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
      }
      
      input[type=text]:focus {
        width: 100%;
      }
      .card-container
      {
             overflow: hidden;
             margin-left: 1rem;
      }
      
      .left-card {
        /* background-color: #2196F3; */
        padding: 30px;
        float: left;
        width: 35%; /* The width is 20%, by default */
      }
      
      .main-card {
        /* background-color: #f1f1f1; */
        padding: 30px;
        float: left;
        width: 35%; /* The width is 60%, by default */
      }
      
      .right-card {
        /* background-color: #04AA6D; */
        padding: 30px;
        float: left;
        width: 30%; /* The width is 20%, by default */
      }
      
      /* Use a media query to add a break point at 800px: */
      @media screen and (max-width: 800px) {
        .left-card, .main-card, .right-card {
          width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
        }
      }
      .img-01
      {
              width: 95%;
              height: 300px;
      }
      .menu-01 {
        float: left;
        width: 20%;
      }
      .menuitem {
        padding: 8px;
        margin-top: 7px;
        border-bottom: 1px solid #f1f1f1;
      }
      .main-01 {
        float: left;
        width: 60%;
        padding: 0 20px;
        overflow: hidden;
      }
      .right-01 {
        background-color: lightblue;
        float: left;
        width: 20%;
        padding: 10px 15px;
        margin-top: 7px;
      }
      
      @media only screen and (max-width:800px) {
        /* For tablets: */
        .main-01 {
          width: 80%;
          padding: 0;
        }
        .right-01 {
          width: 100%;
        }
      }
      @media only screen and (max-width:500px) {
        /* For mobile phones: */
        .menu-01, .main-01, .right-01 {
          width: 100%;
        }
      }
    /* floating.................................................. card */
    .flip-card {
      background-color: transparent;
      width: 80%;
      height: 300px;
      perspective: 1000px;
      
    }
    
    .flip-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.6s;
      transform-style: preserve-3d;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

    }
    
    .flip-card:hover .flip-card-inner {
      transform: rotateY(180deg);
    }
    
    .flip-card-front, .flip-card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      
    }
    
    .flip-card-front {
      background-color: rgb(17, 180, 158);
      color: white;

    }
    
    .flip-card-back {
      background-color: #E67E22;
      color: white;
      transform: rotateY(180deg);
    }
    .bg
    {
    /* background:url("./img/b3.jpg"); */
    /* background-color: #2cc1cc; */
    border-radius: 1rem;
    border-color: #1bb2cc;
    width:100%;
    height:100%;
    }
    /* end floating card */

    .peragraph
    {
      font-family: 'Times New Roman', Times, serif;
      text-align: justify;
  text-justify: inter-word;
  margin: 2rem 4rem 1rem ;
    }
    .dbtn, .dbtn-1
    {
      padding: .8rem 2.9rem;
      background-color: transparent;
      border-color: #feffff;
      color: white;
    }
    .dbtn-1:hover
    {
      border-color: #fffffe;
      color: black;
      background-color: white;
    }
    /* search.............................................! */
    /* for container */
    .card-book {
      background-color: #2D3E50;
      color: white;
      padding: 1rem;
      height: 10rem;
      width: 100%;
      /* margin: .5rem; */
    }
    
    .cards-book {
      max-width: 1200px;
      margin: 0 auto;
      display: grid;
      grid-gap: 1rem;
    }
    
    /* Screen larger than 600px? 2 column */
    @media (min-width: 600px) {
      .cards-book { grid-template-columns: repeat(2, 1fr); }
    }
    
    /* Screen larger than 900px? 3 columns */
    @media (min-width: 900px) {
      .cards-book { grid-template-columns: repeat(3, 1fr); }
    }

    .h1-ebook
    {
      padding: 1.6rem;
    }
    .book-img
    {
      width: 6rem;
    }
    .bookname
    {
      display: flex;

    }
    .downloadebook
    {
      padding: .7rem 1.6rem;
      background-color:transparent;
      color: white;
      border-radius: 5px;
      border-color: white;
    }
    .downloadebook:hover{
      color: #2D3E50;
      background-color: white;
      border-radius: 5px;
    }